@font-face {
    font-family: 'Merriweather Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap') type("ttf");
}

html {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 62.5%; // 1rem - 10px
    font-weight: 700;
}



